.app-container {
  width: 100%;
  height: 100%;
  //border: 1px solid rgba(0, 0, 0, 0.5);
}
.mainpage-header {
  display: flex;
  height: 5%;
  align-items: center;
  justify-content: left;
  background-color: var(--mat-sys-primary-container);
  //border: 1px solid rgba(0, 0, 0, 0.5);
}
.mainpage-content {
  //display: flex;
  height: 95%;
  width: 100%
  //align-items: center;
  //justify-content: center;
  //border: 1px solid rgba(0, 0, 0, 0.5);
}

.mainpage-sidenav {
  padding: 20px;
}
